.container
{
  border: 1px solid;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1));
  justify-content: space-between;
  width: 80%;
}

.kotak-satu
{
  background-color: red;
  margin: 0;
}

.kotak-dua{
  background-color: red;
  margin: 0%;
}

.kotak-tiga{
  background-color: red;
  margin: 0%;
}
.kotak-empat{
  background-color: red;
  margin: 0%;
}